<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="21.7" />
  <package id="7zip.install" version="21.7" />
  <package id="chocolatey" version="1.1.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-vscode.extension" version="1.1.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="1.0.0" />
  <package id="discord" version="1.0.9004" />
  <package id="discord.install" version="1.0.9004" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="git" version="2.36.0" />
  <package id="git.install" version="2.36.0" />
  <package id="github-desktop" version="3.0.1" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="microsoft-edge" version="102.0.1245.39" />
  <package id="microsoft-teams" version="1.5.00.12969" />
  <package id="python" version="3.10.5" />
  <package id="python3" version="3.10.5" />
  <package id="sakuraeditor" version="2.4.1" />
  <package id="selenium" version="3.141.59" />
  <package id="selenium-chrome-driver" version="83.0.4103.39" />
  <package id="teraterm" version="4.106" />
  <package id="vcredist140" version="14.32.31326" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="virtualbox" version="6.1.34" />
  <package id="vscode" version="1.68.0" />
  <package id="vscode.install" version="1.68.0" />
</packages>